@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.App {
	text-align: center;
}

.navbar {
	background-color: #a4508b;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

	color: white;
}

#root {
	font-family: 'Poppins', sans-serif;
	/* background-color: #f8ceec;
	background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%); */
}

.card {
	padding: 40px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
		0 15px 40px rgba(166, 173, 201, 0.2);
}

.btn {
	background-color: #a4508b;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

	color: white;
	border: none;
	padding: 10px;
	margin: 5px;
	border-radius: 20px;
}
